
body {
    background-image: url('../images/pirateMap.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
}


.user {
    color: white;
    padding-bottom: 75px;
    font-size: 200%;
    margin-left: 150px;
}

/* Place holder for GPS map */
#map {
    margin-left: 100px;
    margin-right: 175px;
}

#p1 {
    color: white;
    text-align: center;
    font-size: 300%;
}

#player-stats {
    margin-left: 650px;
    color: white;
    text-align: center;
    font-size: 300%;
}

#weather {
    color: rgb(255, 0, 0);
    text-align: center;
    font-size: 300%;
}
ul {
    color: white;
    text-align: center;
    font-size: 300%;
}

/* Place holder for weather display */
#forecast {
    margin-left: 500px;
} 

 /* Screen sizes */ 
@media screen and (max-width: 640px) {
    body {
        width: 100%;
        background-repeat: repeat;
        background-attachment: fixed;
    }
}

@media screen and (max-width: 768px) {
    body {
        width: 100%;
    }   
}

#container-page3 {
  display: none 
}

#map {
  width: 100%;
  height: 500px;
}

.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
.loader {
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(255, 255, 255, 0.2);
  border-right: 1.1em solid rgba(255, 255, 255, 0.2);
  border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
  border-left: 1.1em solid #000000;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}




fieldset {
  border: 0;
}
label {
  display: block;
  margin: 30px 0 0 0;
}
.overflow {
  height: 200px;
}
